<h1>products#index</h1>

<table border=1>
  <tr>
    <th>ID</th>
    <th>優先度高</th>
    <th>ステータス</th>
    <th>メーカー</th>
    <th>名称</th>
    <th>開始日時</th>
    <th>終了日時</th>
    <th>発売日</th>
    <th>URL</th>
    <th>メモ</th>
  </tr>

  <% @products.each do |product| %>
    <tr>
      <td><%= product.id %></td>
      <td><%= product.high_priority ? '○' : '' %></td>
      <td><%= product.status %></td>
      <td><%= product.manufacturer %></td>
      <td><%= product.name %></td>
      <td><%= product.started_at %></td>
      <td><%= product.ended_at %></td>
      <td><%= product.release_at %></td>
      <td><%= product.url %></td>
      <td><%= product.note %></td>
    </tr>
  <% end %>
</table>

